
.card { 
    margin-bottom: 30px;
    width: 350px;
  }
  
  .card-img-top { 
    height: 250px;
    
  }
  
  .card-footer {
    padding: 0;
    background: #fff;
  }
  
  .card-footer button {
    cursor: pointer;
    text-transform: uppercase;
  }